* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 1.5rem;
}

#container {
    display: grid;
    grid-template-columns: minmax(250px, 0.8fr) minmax(330px, 5fr) minmax(300px, 1fr);
    grid-template-rows: 150px 1fr 1fr;
    min-height: 100vh;
}

#header {
    background-color: green;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

#sidebar {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#projects {
    background-color: yellow;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    padding: 10px;
    overflow: auto;
}

#rightbar {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#announcements {
    background-color: purple;

}

#trending {
    background-color: cyan;
}

.project {
    background-color: red;
    min-height: 150px;
    min-width: 300px;
}